<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple nodejs app</title>

    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            transition: background-color 0.6s; /* Add smooth transition effect */
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40vh;
        }

        .container {
            text-align: center;
            padding: 20px; 
        }

        .form {
            padding: 15px;
        }

        .button {
            border: 1px solid black;
            border-radius: 50%;
            color: white;
            padding: 15px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button1 {background-color: #04AA6D;} /* Green */
        .button2 {background-color: #008CBA;} /* Blue */
        .button3 {background-color: #f44336;} /* Red */
        .button4 {background-color: #e7e7e7; color: black;} /* Gray */
        .button5 {background-color: #555555;} /* Black */
    </style>
</head>
<body>
    <div class="container">
        <form class="form" action="/index" method="GET">
            <input type="text" name="person" placeholder="Person's name...">
            <input type="submit" value="Search">
        </form>

        <button class="button button1" onclick="changeColor('#04AA6D')">Green</button>
        <button class="button button2" onclick="changeColor('#008CBA')">Blue</button>
        <button class="button button3" onclick="changeColor('#f44336')">Red</button>
        <button class="button button4" onclick="changeColor('#e7e7e7')">Gray</button>
        <button class="button button5" onclick="changeColor('#555555')">Black</button>
    </div>

    <script>
        function changeColor(color) {
            document.body.style.backgroundColor = color;
        }
    </script>
</body>
</html>
